/* Profile.css */
.heading {
  text-align: center;
}

.profile-container {
  display: flex;
  flex-direction: row;
}

.profile-picture {
  margin-right: 50px; /* Adjust the margin as needed */
}

.profile-details {
  text-align: left;
}

/* Add this new style to move the picture to the left */
.profile-picture img {
  display: block;
  margin: 0; /* Remove default margin */
}

.profile-buttons {
  margin-top: 20px; /* Adjust the margin as needed */
}

.edit-profile-button,
.change-password-button {
  background-color: #be72ab; /* Green background color */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-right: 10px; /* Adjust the margin between buttons */
  cursor: pointer;
}

.edit-profile-button:hover,
.change-password-button:hover {
  background-color: #a14094; 
}

/* Add this new style for the Save Changes button */
.profile-details button {
  background-color: #d69dca; /* Light purple color */
}
