.AdminMainDash{
    /* padding-top: 1rem; */
    display: flex;
    flex-direction: column;
    padding: 0 2rem;
    overflow: scroll;
    margin: 1rem 0rem;
    padding: 2rem;

    h1 {
        text-align: center;
        width: 100%;
    }
}

.card-container {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    width: 100%;
}

.card {
    flex: 1; /* Equal flex basis for both cards */
    background-color: #f595ad;
    padding: 1rem;
    border-radius: 8px;
}

.card h2 {
    font-size: 1.2rem;
}

.card p {
    font-size: 1.5rem;
    font-weight: bold;
}

