
.page{
    background-color:#e6e6fa;
}
.para{
    font-size: 50px;
    text-align: center;
    font-style: oblique;
    font-family: 'Times New Roman', Times, serif;
    margin:auto
 
}
.gallery_page{
    font-style: oblique;
    font-family: 'Times New Roman', Times, serif;
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0px 100px;
}
.row-even {
    display: flex;
    flex-direction: row;
    align-items: center;
}
 
  .row-odd {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
 
  .image-container {
    flex: 1;
    margin: 30px;
    max-width: 100%;
    height: auto;
    border-radius: 8px;
  }
 
  .hover figure img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.hover figure:hover img {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}
 
  img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
  }
 
 
 
  .caption-container {
    flex: 1;
    margin: 10px;
    text-align: center;
    font-size: 25px;
  }
 