.sign-in-admin{
  background-image:linear-gradient( 106.37deg, #ffe1bc 29.63%, #ffcfd1 51.55%, #f3c6f1 90.85% );
  height: 100vh;
  display:flex;
    flex-direction: column;
}
.sign-in-admin-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  background-image: linear-gradient(to right top, #ffe1bc, #ffdcbf, #ffd8c2, #ffd5c7, #ffd2cb, #ffcfce, #ffcdd2, #ffcbd6, #ffc9db, #fdc7e2, #f9c6e9, #f3c6f1);
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: 5vh auto;
 
}
.adminSignIn{
  display:flex;
  flex-direction: column;
}
 
.sign-in-admin-heading {
  font-size: 28px;
  margin-bottom: 20px;
  margin-top: 76px;
  color: #333;
  align-content: center;
  position: relative;
  left: 576px;
}
 
.sign-in-admin-form {
  display: flex;
  flex-direction: column;
  width: 37%;
  position: relative;
  align-content: center;
  justify-content: center;
  left: 420px;
}
 
.form-label {
  font-size: 18px;
  margin-bottom: 10px;
}
 
.form-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}
 
.in-button {
  width: 23%;
  padding: 15px;
  cursor: pointer;
  /* background-image:linear-gradient( 106.37deg, #f3c6f1 29.63%, #ffcfd1 51.55%, #ffe1bc 90.85% ); */
  
  background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  color: #050505;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  transition: background-color 0.3s ease;
}
 
.form-button:hover {
  background-image:linear-gradient( 106.37deg, #f3c6f1 29.63%, #ffcfd1 51.55%, #ffe1bc 90.85% );
}
 
.back-link {
  margin-top: 20px;
  color: #f3c6f1;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s ease;
}
 
.back-link:hover {
  color: #ffe1bc;
}
 
.form-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
 
.forgot-link {
  color: #f3c6f1;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s ease;
}
 
.forgot-link:hover {
  color: #4c2d07;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.popup-inner {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}